body {
  height: 100vh;
  background-color: #282c34;
}

.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 30px;
}

main {
  /* height: 500px; */
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  /* border: solid 1px white; */
  /* border-style: dotted; */
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.timeline-row {
  display: flex;
  flex-direction: row;
  /* border: solid 1px white; */
  /* height: 300px; */
  margin-bottom: 30px;
}

ul {
  list-style: none;
  text-align: left;
  color: white;
  font-size: 14px;
  padding-left: 20;
}

li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.month-container {
  color: white;
  font-size: 22px;
  text-align: center;
  flex: 1;
}

.month-title {
  text-transform: uppercase;
}
/* .timeline-row-3 {
  display: flex;
  flex-direction: row;
  border: solid 1px white;
  height: 200px;
} */

a {
  color: #1DB954;
}

.App-link {
  color: #61dafb;
}
